.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  animation:
    App-logo-spin infinite 20s linear,
    float 3s ease-in-out infinite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation:
      App-logo-spin infinite 20s linear,
      float 3s ease-in-out infinite;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Keyframes pour l'animation de flottement */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
